
/*bubble*/
.bubble-wrap { padding: 5px 0; overflow:hidden; *zoom:1; }
.bubble-wrap li { padding: 5px 10px; color: #999999; clear:both; overflow:hidden; *zoom:1; vertical-align:middle;}
.bubble-wrap li .gttips { padding:15px 10px 0;}
.bubble-main { background-color:#FFFFFF; border:1px solid #E0E0E0; position: relative; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:0 1px 2px #E0E0E0; -webkit-box-shadow:0 1px 2px #E0E0E0; box-shadow:0 1px 2px #E0E0E0; background-image:-moz-linear-gradient(center bottom, #F0F0F0, #FFFFFF); background-image:-webkit-gradient(linear, center bottom, center top, from(#F0F0F0), to(#FFFFFF)); background-image:-o-linear-gradient(center bottom, #F0F0F0, #FFFFFF); background-image:linear-gradient(center bottom, #F0F0F0, #FFFFFF); }
.bubble-wrap .bubble-main.left  { float:left; background-color:#f3fbff; border:1px solid #d8e1ea; background-image:-moz-linear-gradient(center bottom, #e6f7ff, #f3fbff); background-image:-webkit-gradient(linear, center bottom, center top, from(#e6f7ff), to(#f3fbff)); background-image:-o-linear-gradient(center bottom, #e6f7ff, #f3fbff); background-image:linear-gradient(center bottom, #e6f7ff, #f3fbff); }
.bubble-wrap .bubble-main.left.warn {background-color:#ffeeee; border:1px solid #ffb6b6; background-image:-moz-linear-gradient(center bottom, #ffe0da, #ffeeee); background-image:-webkit-gradient(linear, center bottom, center top, from(#ffe0da), to(#ffeeee)); background-image:-o-linear-gradient(center bottom, #ffe0da, #ffeeee); background-image:linear-gradient(center bottom, #ffe0da, #ffeeee);}
.bubble-content { height: auto; max-width: 335px; _width: 335px; padding: 8px 10px; }
.arrow-left,
.arrow-right { width:8px; height:14px; background:url(../images/bubble_arrow.gif) no-repeat 0 0; }
.arrow-right {position: absolute; right: -8px; top: 10px; background-position:0 -50px;}
.arrow-left {position: absolute; left: -8px; top: 10px;}
.bubble-main.left.warn .arrow-left { background-position:0 -100px;}
.block-section{ width: 100%; }
.block-section h3{padding: 5px 9px;border-top: 1px solid #ddd;border-bottom: 1px solid #ffffff;
color: #666666;
font-weight: 700;
background: #e6e6e6;
font-size: 12px;}
/*底部操作bar*/
.control-bar{
		background: #a4c6ef; 
		position: fixed;
		z-index: 99999; 
		bottom: 0 ;
		width: 750px;
		left: 20px;
		height: 81px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		border-radius: 4px; 
}
.control-bar a{
	cursor: pointer;
}
.control-bar .control-bar-move{padding: 5px;}
.control-bar .control-bar-move .control-block{
	height: 71px;
	background:#eceef4 url(../images/barbg.png?009) repeat-x;
}
.control-bar ul.r-goto{
	width: 130px;
	float: right;
	background: #a4c6ef;
}
.control-bar ul.r-goto li a {
	background: #a4c6ef;
	padding: 0 0 0 15px;
	display: block;
	line-height: 23px;
	border-bottom: 1px solid #b5d7fe;
}
.control-bar ul.r-goto li a.active,.control-bar ul.r-goto li a:hover{
	background: #6da1e1;
	color: #fff;
	text-decoration: none;
}
.control-bar .content-block{ 
	height: 345px;
	width: 620px; 
	position: absolute;
	margin-bottom: -70px;
	top:-345px;
}
.control-bar .content-block .content-block-inner{
	background:#a4c6ef; 
	padding: 5px 5px 0; 
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-khtml-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0; 
}
.control-bar .content-block .content-block-inner .in-content{
	background: #fff;
	height: 345px;
}
.control-bar .submit-bar{position: absolute; left: 15px; top: 27px; height: 30px;}